body {
    background-color: azure;
}

.b-tab {
    display: none;
  }

  .b-tab.active {
    display: block;
  }

  a.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  a.nav-link.active {
    color: #ff8400 !important;
    font-weight: bold;
  }

/*// tempCSS START//*/
.btn-primary {
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
}
.asset-container {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.bottom-20 {
  bottom: 20px !important;
}

.end-20 {
  right: 20px !important;
}

.start-20 {
  left: 20px !important;
}

.btn-float {
  width: 60px;
  height: 60px;
  border-radius: 100% !important;
  box-shadow: rgb(0 0 0 / 30%) 0 10px 20px;
  padding: 5px 18px;
  /* position: fixed !important; */
  z-index: 9999999;
}


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card {
  border-radius: 1.5rem;
  box-shadow: rgb(0 0 0 / 30%) 0 10px 20px;
  border:0;
  background-color: #fff;
  display: flex;
  width: 95%;
  margin: auto;
  /* max-width: 22em; */
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 1em;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(var(--rotate), #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%), linear-gradient(var(--rotate), #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%);
  animation: none;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.card:hover:before {
  background-image: linear-gradient(var(--rotate), #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%), linear-gradient(var(--rotate), #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%);
  animation: spin 2.5s linear infinite;
} 

.card:hover:after {
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}




hr {
  color: #bbb;
}

.badge, .input-group-text, .btn, .btn-group-sm>.btn, .btn-sm {
  border-radius: 0.8rem;
}

.popover {
  border:0;
  border-radius: 0.8rem;
  box-shadow: rgb(0 0 0 / 30%) 0 10px 20px;
}

.popover-header {
  background-color: #f0f0f0;
  border-bottom: 0;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.popover-arrow,
.popover-arrow::before,
.popover-arrow::after {
  border-width: 0;
}

.bs-popover-auto[data-popper-placement^=top]>.popover-arrow::before, .bs-popover-top>.popover-arrow::before,
.bs-popover-auto[data-popper-placement^=left]>.popover-arrow::before, .bs-popover-start>.popover-arrow::before,
.bs-popover-auto[data-popper-placement^=right]>.popover-arrow::before, .bs-popover-end>.popover-arrow::before,
.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::before, .bs-popover-bottom>.popover-arrow::before {
    border-width: 0;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 0.25rem 1rem;
}



.bg-dark {
  background-color: #151515 !important;
}


.bg-dark #connected {
  color: #ffffff  ;
}

.bg-dark .btn-outline-dark {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.bg-dark .btn-group .btn-outline-primary:unchecked {
  background-color: #000;
}
.bg-dark .card {
  background: #000;
  background-clip: padding-box;
  color: #FFF;
}

.bg-dark .input-group-text {
  color: #999999;
  background-color: #181818;
  border: 1px solid #3f3f3f;
}

.bg-dark .form-control {
  color: #fff;
  background-color: #000;
  background-clip: padding-box;
  border: 1px solid #3f3f3f;
}

.bg-dark .popover {
  background-color: #000;
}

.bg-dark .popover-body {
  color: #999;
}


.bg-dark .bs-popover-auto[data-popper-placement^=top]>.popover-arrow::after, 
.bg-dark .bs-popover-top>.popover-arrow::after {
  border-top-color: #000;
}

.bg-dark .bs-popover-auto[data-popper-placement^=left]>.popover-arrow::after, 
.bg-dark .bs-popover-start>.popover-arrow::after {
  border-left-color: #000;
}

.bg-dark .bs-popover-auto[data-popper-placement^=right]>.popover-arrow::after, 
.bg-dark .bs-popover-end>.popover-arrow::after {
  border-right-color: #000;
}

.bg-dark .bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after, 
.bg-dark .bs-popover-bottom>.popover-arrow::after {
  border-bottom-color: #000;
}



.modal-content {
  border-radius: 1.5em;
}

.bg-dark .modal-content {
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: 0;
}

.bg-dark .modal-header {
  color:white;
}

.bg-dark .modal-body {
  color: #999999;
}

.bg-dark .modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.bg-dark .modal-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bg-dark #wallet-intro p {
  color: #999;
} 

.bg-dark #wallet-intro h2 {
  color: #fff;
} 

.bg-dark .web3modal-modal-card {
  background-color: #000;
}


.bg-dark .web3modal-provider-container {
  background-color: #000;
}

.bg-dark .web3modal-provider-container:hover {
  background-color: #222;
}

.bg-dark .web3modal-provider-name {
  color: #fff;
}

.bg-dark .web3modal-provider-description {
  color: #999;
}



.btn-connect {
  border-radius: 1.5rem;
  box-shadow: rgb(0 0 0 / 30%) 0 10px 20px;
  border:0;
  background-color: #000;
  color:#efefef;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 70px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 1em;
  cursor: pointer;
  transition: all 3s ease-in-out;
}

.btn-connect:hover {
  color:#fff;
}

.btn-connect:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(var(--rotate), #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%), linear-gradient(var(--rotate), #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%);
  animation: none;
}

.btn-connect::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.btn-connect:hover:before {
  background-image: linear-gradient(var(--rotate), #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%), linear-gradient(var(--rotate), #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%);
  animation: spin 2.5s linear infinite;
} 

.btn-connect:hover:after {
  transform: scale(0.8);
  filter: blur(40px);
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}