body {
    background-color: azure;
}

.b-tab {
    display: none;
  }
  
  .b-tab.active {
    display: block;
  }

  a.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  
  a.nav-link.active {
    color: #ff8400 !important;
    font-weight: bold;
  }

/*// tempCSS START//*/
.btn-primary {
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
}
.asset-container {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}
/*// tempCSS FINISH//*/



.blink {
  animation: blink-animation 0.4s steps(10, start) 0.5s;
  -webkit-animation: blink-animation 0.4s steps(10, start) 0.5s;
}
@keyframes blink-animation {
  to {
    color: green;
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    color: green;
    visibility: hidden;
  }
}