body {
    background-color: azure;
}

.b-tab {
    display: none;
  }

  .b-tab.active {
    display: block;
  }

  a.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  a.nav-link.active {
    color: #ff8400 !important;
    font-weight: bold;
  }

/*// tempCSS START//*/
.btn-primary {
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
}
.asset-container {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.bottom-20 {
  bottom: 20px !important;
}

.end-20 {
  right: 20px !important;
}

.start-20 {
  left: 20px !important;
}

.btn-float {
  width: 60px;
  height: 60px;
  border-radius: 100% !important;
  box-shadow: rgb(0 0 0 / 30%) 0 10px 20px;
  padding: 5px 18px;
  /* position: fixed !important; */
  z-index: 9999999;
}

.card {
  border-radius: 1.5rem;
  box-shadow: rgb(0 0 0 / 30%) 0 10px 20px;
  border:0;
  background: rgb(255,255,255);
  background: linear-gradient(145deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
}

hr {
  color: #bbb;
}

.badge, .input-group-text, .btn, .btn-group-sm>.btn, .btn-sm {
  border-radius: 0.8rem;
}

.popover {
  border:0;
  border-radius: 0.8rem;
  box-shadow: rgb(0 0 0 / 30%) 0 10px 20px;
}

.popover-header {
  background-color: #f0f0f0;
  border-bottom: 0;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.popover-arrow::before,.popover-arrow::after {
  border-width: 0;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 0.25rem 1rem;
}

.gradient-box {
  display: flex;
  width: 90%;
  margin: auto;
  /* max-width: 22em; */
  position: relative;
  /* padding: 30% 2em; */
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 1em;
}

.gradient-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  /* background: linear-gradient(to right, red, orange); */
  background: linear-gradient(225deg, #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%), linear-gradient(225deg, #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%);;
}

.bg-dark {
  background-color: #151515 !important;
}


.bg-dark #connected {
  color: #ffffff  ;
}

.bg-dark .btn-outline-dark {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.bg-dark .btn-group .btn-outline-primary:unchecked {
  background-color: #000;
}
.bg-dark .gradient-box {
  background: #000;
  background-clip: padding-box;
  color: #FFF;
}

.bg-dark .input-group-text {
  color: #999999;
  background-color: #181818;
  border: 1px solid #ced4da;
}